<div id="audioCallback" phx-hook="AudioClick">
  <h1>Audio Test</h1>

  <button data-audio-url="https://s3.amazonaws.com/scifri-episodes/scifri20181123-episode.mp3" class="audio-button">
    Play Audio
  </button>
</div>
